body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px 40px 0px 40px;
    padding: 0px;
}

h1 {
    font-size: 2.0em;
    margin: 15px 0px 20px 0px;
}

h2 {
    font-size: 1.6em;
    font-style: italic;
    margin: 25px 0px 10px 0px;
}

h3 {
    font-size: 1.2em;
    margin: 15px 0px 10px 0px;
}

div {
    max-width: 1000px;
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
}

a:link, a:visited, a:active {
    color: #974B4B;
    text-decoration: none;
}

a:hover {
    color: #974B4B;
    text-decoration: underline;
}

li {
    margin: 0px 0px 10px 0px;
  }

.footer {
    color: #999999;
    font-size: 0.9em;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    line-height: 1.5em;
    padding: 5px 0px 5px 0px;
    margin-top: 15px;
    border-top: solid 1px #999999;
  }

.footer a:link, .footer a:visited, .footer a:active {
    color: #999999;
    font-weight: normal;
    text-decoration: none;
}

.footer a:hover {
    color: #000000;
    font-weight: normal;
    text-decoration: none;
}

.footer div {
    display: inline;
    padding: 0px;
    margin: 0px 20px 0px 20px;
}